<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if num_author %}
    <ul>
      {% for author in num_author %}
      <li>
          <p>
              <a href="{{author.get_absolute_url}}">{{ author.name }}</a>
              ({{ author.age }} год  {{ author.books_count }} книг)
          </p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no Authors.</p>
    {% endif %}
<nav>
    <ul>
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li>{{ i }}</li>
            {% else %}
            <li>
            <a href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

</nav>
</body>
</html>