<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% if num_books %}
    <ul>
      {% for book in num_books %}
      <li>
          <p><a href="{{book.get_absolute_url}}">{{ book.name }}</a> ({{ book.rating }})</p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no books.</p>
    {% endif %}
<nav>
    <ul>
        {% for i in paginator.page_range %}
            <li>
            <a href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>